.height100vh {
  /* height: 100vh;
    background-color: gray;    
    background-image: url("/images/Science-page-Step-2.png");
    background-size: cover;
    background-repeat: no-repeat; */
  position: relative;
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  width: 100%;
}
.hiddenParagraph .container {
  background-image: url("/images/DNA-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0% bottom 35%;
}
.RowFlex {
  display: flex;
  text-align: end;
  align-items: center;
  height: 100vh;
}

.RowFlex h1 {
  color: #fff;
  font-size: 130px;
  font-weight: 800;
  font-family: var(--bmd-font-Secondary);
  letter-spacing: normal;
  line-height: 129px;
  -webkit-text-fill-color: #000000c7;
  /* -webkit-text-stroke-color: #97af98;
  -webkit-text-stroke-width: 2px;   */
  background-image: url("/images/bgBack.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hiddenParagraph p {
  color: #000;
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;  
}

.hiddenParagraph h3 {
  padding-bottom: 20px;
}

.W70 .ContentBox h1:nth-child(2) {
  color: #63b8e6;
  /* color:  linear-gradient(90deg, #2f80cb, #68defa 90.94%); */
  /* color: linear-gradient(180deg, red, yellow); */
  animation: animate 4s ease-in-out infinite;

  background-image: url("/images/bgBack.png");
  -webkit-background-clip: text;
  -webkit-background-clip: text;
}
.W70 .ContentBox {
  position: relative;
}

.W70 .ContentBox h3 {
  color: #fff;
  position: absolute;
  font-family: var(--bmd-font-Secondary);
  font-size: 113px;
  font-weight: 700;
  line-height: 114px;
}

.W70 .ContentBox h3:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 4px #97af98;
  /* text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.21); */
  background: transparent;
}

.W70 .ContentBox h3:nth-child(2) {
  color: transparent;
  background-image: url("/images/bgBack.png");
  -webkit-background-clip: text;
  -webkit-background-clip: text;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.RowFlex h3 {
  color: #fff;
  text-align: right;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8); */
  font-family: var(--bmd-font-Secondary);
  font-size: 59px;
  font-style: normal;
  font-weight: 800;
  line-height: 70px;
}
.W80 {
  justify-content: end;
  display: flex;
}
.W80 p {
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;
  margin: 20px 0px;
  color: #fff;
  width: 60%;
  line-height: 24px;
}
.ReadMoreBtnWhite {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 22px;
  margin: 15px 0px;
  font-family: var(--bmd-font-Secondary);
  cursor: pointer;
}

.hiddenParagraph {
  position: fixed;  
  padding: 20px 15px;
  width: 100%;
  bottom: 0%;
  left: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  overflow-y: hidden;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 11;
  background-image: linear-gradient(to right, #1c2f1bad, #1c2f1bcf, #1c2f1b99);
  backdrop-filter: blur(10px);
}

.hiddenParagraph h3 {
  color: #fff;
  font-size: 60px;
  font-family: var(--bmd-font-Secondary);
  padding: 0 10px;
  width: 50%;
}
.hiddenParagraph p {
  color: #fff;
  font-family: var(--bmd-font-Secondary);
  font-size: 16px; 
  padding-bottom: 15px;
  line-height: 24px;
  padding: 0 15px 10px 15px;
  font-weight: 300;
}

.hiddenParagraph span {
  background-color: #fff;
  width: 30px;
  font-family: var(--bmd-font-Secondary);
  font-weight: 900;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #000;
  font-size: 17px;
  color: #000;
  position: absolute;
  top: 1%;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Fade up css */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(800px) rotateX(-90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(800px) rotateX(-0deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(800px) rotateX(-0deg);
    opacity: 1;
  }

  80% {
    transform: perspective(800px) rotateX(-0deg);
  }

  to {
    transform: perspective(800px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-delay: 2s;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fade up end */

.Mask {
  -webkit-mask-image: url("/images/Science-page-Step-2.png");
  mask-image: url("/images/Science-page-Step-2.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Step2  glow worm*/

ul.fireflies {
  list-style: none;
}
/* .fireflies {
  position: relative;
  position: absolute; 
} */

.fireflies li {
  border-radius: 30%;
  background-color: rgb(255, 255, 73);
  background-image: radial-gradient(
    rgb(249, 206, 36) 5%,
    rgb(254, 179, 4) 25%,
    rgb(252, 191, 7) 60%
  );
  box-shadow: 0 0 5px 2px rgb(250, 193, 93), 0 0 20px 10px rgb(255, 228, 140),
    0 0 40px 15px rgb(255, 219, 41);
  height: 5px;
  width: 5px;
  top: -20px;
  position: absolute;
  animation: leftright 24s infinite cubic-bezier(0.39, 0, 0.63, 1),
    updown 8s infinite 1.25s cubic-bezier(0.39, 0, 0.63, 1),
    blinking 3s infinite;
}

/* first 10 */
.fireflies li:nth-of-type(1) {
  animation-delay: 1s;
  animation-duration: 65s, 81s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(2) {
  animation-delay: 0.5s;
  animation-duration: 80s, 75s, 0.01s;
}

.fireflies li:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 70s, 60s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(4) {
  animation-delay: 2.5s;
  animation-duration: 90s, 80s, 0.01s;
}

.fireflies li:nth-of-type(5) {
  animation-delay: 0.3s;
  animation-duration: 55s, 75s, 0.01s;
}

.fireflies li:nth-of-type(6) {
  animation-delay: 2.2s;
  animation-duration: 79s, 63s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(7) {
  animation-delay: 0.9s;
  animation-duration: 70s, 80s, 0.01s;
}

.fireflies li:nth-of-type(8) {
  animation-delay: 1.6s;
  animation-duration: 50s, 40s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(9) {
  animation-delay: 1.8s;
  animation-duration: 77s, 88s, 0.01s;
}

.fireflies li:nth-of-type(10) {
  animation-delay: 3s;
  animation-duration: 87s, 73s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

/* last 10 */
.fireflies li:nth-of-type(11) {
  animation-delay: 1s;
  animation-duration: 60s, 78s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(12) {
  animation-delay: 0.5s;
  animation-duration: 85s, 80s, 0.01s;
}

.fireflies li:nth-of-type(13) {
  animation-delay: 1.5s;
  animation-duration: 75s, 66s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(14) {
  animation-delay: 2.5s;
  animation-duration: 87s, 75s, 0.01s;
}

.fireflies li:nth-of-type(15) {
  animation-delay: 0.3s;
  animation-duration: 69s, 85s, 0.01s;
}

.fireflies li:nth-of-type(16) {
  animation-delay: 2.2s;
  animation-duration: 80s, 77s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(17) {
  animation-delay: 0.9s;
  animation-duration: 65s, 88s, 0.01s;
}

.fireflies li:nth-of-type(18) {
  animation-delay: 1.6s;
  animation-duration: 59s, 63s, 0.01s;
  animation-fill-mode: backwards, backwards;
}

.fireflies li:nth-of-type(19) {
  animation-delay: 1.8s;
  animation-duration: 88s, 79s, 0.01s;
}

.fireflies li:nth-of-type(20) {
  animation-delay: 3s;
  animation-duration: 59s, 75s, 0.01s;
  animation-fill-mode: backwards, backwards;
}
.W80 p {
  line-height: 30px !important;
}

/* animations */

/* It will create the left right movement */
@keyframes leftright {
  0%,
  100% {
    left: 80%;
  }

  16.666% {
    left: 95%;
  }

  33.333% {
    left: 10%;
  }

  50% {
    left: 60%;
  }

  66.666% {
    left: 70%;
  }

  83.333% {
    left: 5%;
  }
}

/* It will create the up down movement */
@keyframes updown {
  0%,
  100% {
    top: 10px;
  }

  25% {
    top: 90%;
  }

  50% {
    top: 50%;
  }

  75% {
    top: 95%;
  }
}

/* It will create the blinking effect */
@keyframes blinking {
  0%,
  100% {
    box-shadow: 0 0 0px 1px rgb(250, 193, 93), 0 0 0px 0px rgb(255, 242, 63),
      0 0 20px 5px rgb(255, 219, 41);
    height: 0;
    width: 0;
  }

  /* 50% { 
        box-shadow: 0 0 5px 2px rgb(250, 193, 93),  
                    0 0 20px 10px rgb(255, 228, 140), 
                    0 0 40px 15px rgb(255, 219, 41); 
    }  */

  /* 75% { 
        box-shadow: 0 0 0px 0px rgb(250, 193, 93),  
                    0 0 0px 0px rgb(255, 228, 140), 
                    0 0 0px 0px rgb(255, 219, 41); 
    }  */
}

/* step2 end */


.containerModal {
  margin-left: auto;
  margin-right: auto;
  width: 90%;  
  transform: translate(0%, 5%);  
}
.BottomDis{
  width: 98%;
  display: flex;
  background-color: #ffffff29;
  border-radius: 20px;
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
  padding: 30px;
  margin: auto;
  
}
.BottomDis p{
  font-weight: 300;
}
.BottomImg{    
  width: 100%;
  margin: auto;
  border-radius: 13px;
  overflow: hidden;
  display: flex;
  max-width: 270px;
}
.InneerDiscription{
  width: 50%;
  margin-bottom: 50px;
  margin-top: 20px;
}
.Discription{
  margin: auto;
  height: 270px;
  overflow: auto;
}
@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      transform: translate3d(-3000px,0,0)
  }

  60% {
      opacity: 1;
      transform: translate3d(25px,0,0)
  }

  75% {
      transform: translate3d(-10px,0,0)
  }

  90% {
      transform: translate3d(5px,0,0)
  }

  to {
      transform: translateZ(0)
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
  animation-delay: 1s;  
}

.NatureSecretsImg{
  position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: flex;
}

@keyframes draw {
  from {
      stroke-dashoffset: 1000;      
  }
  to {
      stroke-dashoffset: 0;     
     
  }
  0% {
    opacity: 0.5;
    fill: none; 
  }
  
}

.NatureSecretsImg path
 {  
  stroke: #8DC640;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 3s linear forwards ;
  animation: draw 3s linear forwards ;
}

.NatureSecretsImg svg{
  position: relative;
  left: 29%;
  z-index: -1;
}
.NatureSecretsImg svg.TriangleShape{
  left: 38%;
}
.NatureSecretsImg svg.DiagramShape{
  left: 20%;
  top: 1%;
  
}
 


@keyframes SecondShape {
  from {
      stroke-dashoffset: 1000;
      opacity: 0.2;      
  }
  to {
      stroke-dashoffset: 0;     
     
  }
  0% {
    opacity: 0.3;
    fill: none; 
  }
  20% {
    opacity: 0.4;
    fill: none; 
  }
  50% {
    opacity: 0.4;
    
  }
  90% {
    opacity: 0.5;
    
  }  
  
}
.NatureSecretsImg .SecondShape
 {  
  stroke: #849b82;
  stroke-width: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: SecondShape 2s linear forwards ;
  animation: SecondShape 2s linear forwards ;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0,100%,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-delay: 4s;
}

.diagram img{
  position: relative;
  -webkit-animation: bounce 3s infinite;
  -moz-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  50% {
    top: 20px;
    
  }

  100% {
    top: 0px;
  }
}

.diagram{
  position: relative;
  right: 14%;
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translate3d(-100%,0,0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-delay: 2s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      scale: 1.1;
  }

  to {
      opacity: 1;

  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-delay: 1.6s;
}

@keyframes fadeIn02 {
  0% {
      opacity: 0;
      scale: 0.1;
  }

  to {
      opacity: 1;
      scale: 1;
  }
}

.fadeIn02 {
  animation-name: fadeIn02;
  animation-delay: 1.4s;
}
@media (max-width: 1599.98px) {
  .TriangleShape{
    width: 50%;
  }
  .DiagramShape{
    width: 50%;
  }
  .InneerDiscription {
    width: 65%;
    margin-bottom: 30px;
    margin-top: 20px;
}
  .hiddenParagraph h3 {    
    font-size: 50px;
    
}
  .NatureSecretsImg {    
    width: 68%;
    align-items: center;
}
  .Discription {
    height: 150px;
    overflow: auto;
}
  .BottomDis{
    position: absolute;
    bottom: -25%;
  }
  .BottomImg{ 
    max-width: 150px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
  }
  .RowFlex h1 {
    font-size: 80px;
  }
  .RowFlex h2 {
    font-size: 42px;
    bottom: 15px;
  }
  .RowFlex h3 {
    font-size: 40px;
  }
  .W80 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 0;
  }
  .InneerDiscription {
    height: 350px;
    overflow: auto;
  }
}
@media (max-width: 1100px) {
  .Discription {
    height: 109px;   
}
.BottomDis { 
  padding: 20px;
  bottom: -35%;
 
}
  .hiddenParagraph h3 {
    font-size: 35px;
}
  .container {
    max-width: 900px;
  }
  .RowFlex h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
@media (max-width: 768px) {
  .BottomDis {    
    bottom: -40%;
}
  .InneerDiscription {
    height: 335px;    
}
  .NatureSecretsImg {
    width: 90%;    
}
  .Discription {
    height: 110px;
    width: 100%;
}
  .BottomImg {
    max-width: 110px;
}
  .container {
    max-width: 90%;
  }
  .W70 {
    width: 100%;
  }
  .RowFlex h1 {
    line-height: 75px;
  }
  .W80 p {
    display: block;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 90%;
  }
  .W80 {
    width: 100%;
  }
  .RowFlex h2 {
    font-size: 24px;
    bottom: 5px;
  }

  .RowFlex h1 {
    font-size: 45px;
    letter-spacing: normal;
    line-height: 50px;
  }
  .RowFlex h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .W80 p {
    width: 100%;
  }
  .hiddenParagraph h3 {
    color: #ffffff;
    font-size: 30px;
    width: 100%;
  }
  .InneerDiscription {
    width: 95%;    
}
.NatureSecretsImg {
  width: 100%;
}
.NatureSecretsImg svg.TriangleShape { 
  top: -15px !important;
}

}
@media (max-width: 475px) {
  .container {
    max-width: 90%;
  }
  
}
@media (max-width: 375px) {
  .BottomDis {
    padding: 10px;
    bottom: -35%;
}
.Discription {
  height: 75px; 
}
.BottomImg {
  max-width: 75px;
}
 
  .hiddenParagraph h3 {    
    font-size: 25px;    
  }
}
