.ScienceBanner{
    text-align: center;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    position: relative;
    /* max-width: 700px; */
    margin: auto;
    /* max-height: 400px; */
    /* overflow: hidden; */
    
    
}
.ScienceBgImg1{
    background-image: url("/images/BrunoMD-01.webp");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ScienceBgImg2{
    background-image: url("/images/BrunoMD-02.webp");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.ScienceBgImg3{
    background-image: url("/images/BrunoMD-03.webp");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ScienceBgImg4{
    background-image: url("/images/BrunoMD-04.webp");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ScienceBgImg5{
    background-image: url("/images/BrunoMD-05.webp");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.ScienceBanner img{
    height: 350px;
    overflow: hidden;
    background-size: cover;
}

.tabsBuyNowBTn{
    width: 100%;
    padding: 15px 10px;
    /* height: 40px; */
    background-color: #000;
    color: #fff;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    font-family:"Gotham" sans-serif;
    z-index: 9991;
  }

.Endeavor{
    background-color: #fff;
    margin-bottom: 80px;
}
.ScienceBanner h2{
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 10px 0;
}
.ScienceBanner h5{
    font-size: 20px;
    /* margin: 0 0 15px 0; */
    font-weight: 400;
}
.paraDis {
    font-size: 14px;
    width: 88%;
    margin: auto;
    padding: 20px 10px 0px 0px;
    height: 350px;
    overflow: auto;
}
.paraDis p {
    padding-bottom: 15px; 
}
.ScienceBanner h1{
    position: absolute;
    top: 18%;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    left: 8%;
    text-shadow: 0px 4px 4px #353535ab;
    
}

.ScienceBanner img{
    /* max-width: 615px;
    max-height: 381px;
    margin: auto; */
}
