.ImgCollagen {
    width: 70%;
    margin: auto;
    margin-top: 8%;
}

.Discripton p {
    color: #000;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.container {
    padding: 0 25px;
    width: 100%;
}

.PhytoMain {
    display: flex;
    gap: 30px;
    align-items: start;
    margin-bottom: 50px;
    flex-direction: row-reverse;

}

.PhytoPara {
    font-size: 12px;
    font-family: "Gotham", "Arial", serif;
    font-weight: 400;
    line-height: 20px;
}

.PhytoImg {
    width: 100%;
    position: relative;
    width: 145px;
    height: 145px;
}

.PhytoTopB {
    margin-top: 20px;
}

.PhytoImg img {
    border-radius: 20px;
    /* width: 100%; */
}

.PhytoImg h4 {
    position: absolute;
    bottom: 25px;

    left: 0;
    right: 0;
    text-align: center;
}

.PhytoImg h4 a {
    color: #fff;
    font-size: 12px;
    font-family: "Gotham", "Arial", serif;
    font-weight: 600;
    background-color: #AB19C2;
    padding: 6px;
}


/* top */


.imageDiv {
    display: flex;
    gap: 15px;
    justify-content: center;
    border-radius: 12px;
}


.videoContent {
    position: absolute;
    top: 0;
    width: 100%;
}

.PhytoVideoTag {
    width: 100%;
    margin: 0 0 40px 0;
    max-height: 300px;

    overflow: hidden;
}

.PhytoVideoTag video {
    /* min-height: 350px; */
    width: 100%;
    overflow: hidden;
}


.TopBruno {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: Gotham", " Arial", serif";
    margin-bottom: 40px;
    color: #fff;
}

.backgroundShadow {
    padding: 25px 0px;
    margin: 0 0 20px 0;
    background-color: #00000073;
}

.destopNone {
    display: none;
}

.TopBruno h1 {
    font-size: 30px;
    font-weight: 400;

}

.TopBruno p {
    font-size: 16px;
    font-weight: 400;

}

.TopBruno p {
    font-size: 16px;
    font-weight: 400;

}

.TopBruno h5 {
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.imageMain img {
    max-width: 100%;
    width: 93px;
    height: 93px;
    border-radius: 12px;
    border: 2px solid #ddd;
}

.desktopShow {
    display: block;
}

.MobileShow {
    display: none;
}

@media(max-width:767px) {

    .PhytoVideoTag video {
        min-width: 945px;
        min-height: 400px;
        overflow: hidden;

    }

    .MobileShow {
        display: block;
    }

    .desktopShow {
        display: none;
    }
}

@media(max-width:540px) {
    .PhytoVideoTag {
        max-height: 240px;
    }

    .PhytoVideoTag video {
        max-width: 580px;
    }

    .TopBruno h5 {
      margin: 0px 0 0px 0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .PhytoImg {
        width: 100%;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .PhytoImg img {
        width: 100%;
        position: relative;
        width: 100px;
        height: 100px;
    }

    .PhytoImg h4 a {

        font-size: 10px;
        padding: 5px;
    }

    .PhytoMain {
        gap: 15px;
    }

    .PhytoImg h4 {
        bottom: 10px;
    }

    .backgroundShadow {
        padding: 10px 0px;
        margin: 0 0 10px 0;
        background-color: #00000073;
        font-family: "ivypresto-display", "Times New Roman", Times, serif;
    }

    .imageMain img {
        max-width: 100%;
        width: 70px;
        height: 70px;
        border-radius: 12px;
        border: 2px solid #ddd;
    }

    .TopBruno h1 {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 400;
    }

    .TopBruno p {
        font-size: 16px;

    }

    .TopBruno h5 {
        font-size: 18px;
    }
}

@media(max-width:415px) {
    .TopBruno {
        margin-bottom: 50px;

    }

}

@media(max-width:374px) {

    .PhytoImg {
        margin: auto;
    }

    .PhytoMain {
        display: grid;
    }
}

.BgBlack {
    background-color: #000;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
}

.BgBlack h1 {
    font-size: 30px;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-weight: 400;
}

.sliderContainer {
    margin: 0 auto 134px;
    width: 80%;
    position: relative;
    top: 50px;

}

.mainSlider img {
    width: auto;
}

.mainSlider {
    display: flex;
    width: 100%;
    /* justify-content:space-between; */
    gap: 50px;
    margin: auto;
    height: 300px;
    place-content: center;
}

.SliderText,
.SliderText1,
.SliderText2,
.SliderText3 {
    display: grid;
    color: black;
    gap: 10px;
}

.SliderText h4,
.SliderText1 h4,
.SliderText2 h4,
.SliderText3 h4 {
    font-family: "Gotham", "Arial", serif !important;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
    text-align: center;
    place-content: center;
    background-color: aquamarine;
    /* word-break: break-all; */
    max-width: 100px;
    min-width: 100px;
}

.SliderText h4 {
    background-color: #F9C300;
}

.SliderText1 h4 {
    background-color: #74CB59;
}

.SliderText2 h4 {
    background-color: #F08056;
}

.SliderText3 h4 {
    background-color: #45D5FD;
}

.thumbnailSlider {
    display: flex;
    gap: 10px;
    text-align: start;
    margin: 30px 0 0 0;
    justify-content: center;
}

.thumbnailSlider img {
    width: 65px;
    height: 65px;
}

.thumbnailSlider img.active {
    border: 2px solid #0000 !important;
}

.mainSlider:nth-child(2) {
    color: red;
}

@media(max-width:767px) {
    .mainSlider {
        display: flex;
        width: 100%;
        /* justify-content:space-between; */
        gap: 50px;
        margin: auto;
        height: 300px;
    }
}