.container {
    padding: 0 !important;
}

.carouselMain img {
    width: 100%;
    max-width: 1640px;
    display: flex;
    /* margin: auto 6.7rem; */
    margin-left: auto;
    margin-right: 0%;
}

.carouselMain {
    padding: 0 20px;
}

.heroImgContent {
    color: black;
    max-width: 1380px !important;
}

.heroImgContent p {
    width: 50%;
}

.ancorLink {
    margin-top: 2rem;
    line-height: 30px;
}

.ancorLink button {
    font-family: 'Gotham', Times, serif;
    background-color: black;
    border: none;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 34px;
    font-size: 16px;
    padding: 8px 16px;
    color: #ffffff;
}
.modalBody p{
    font-family: 'Gotham', Times, serif;
    color: #000;
}
.modalBody::-webkit-scrollbar {
    width: 3px;
}

.modalBody::-webkit-scrollbar-track {
    background: #afafaf;
}

.modalBody::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.modalBody::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.modalBody {
    overflow: auto;
    height: 300px;
    padding: 0rem 1rem 0rem 0rem;
}
.modalHeader h1{
    color: #000;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}
.modalHeader h2{
    font-size: 26px;
    color: #000;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}

.RectangleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -4rem;
    position: relative;
    z-index: 1;
}

.Rectangle1 {

    /* animation: slide 5s linear infinite; */
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.Rectangle1 img {
    height: 200px;
}

.Rectangle2 {
    /* animation: slide2 5s linear infinite; */
}

@keyframes slide2 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.Rectangle1 img {
    height: 200px;
}

.Rectangle2 img {
    height: 200px;
}

.imgcotent {
    left: 0 !important;
    transform: translate(0%, -50%);
    max-width: 1380px;
    margin: 0 auto !important;
    width: 100%;
}

.heroImgContent {
    text-align: left;
    padding: 0 !important;
}

.brunoDecription {
    margin-top: 6rem !important;

}

.heroImgContent h1 {
    font-size: 80px !important;
    color: rgb(0, 0, 0);
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    -webkit-text-stroke: 0.5px #b7b7b7;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
    font-weight: bold;
    margin-bottom: 0rem;

}

.heroImgContent h2 {
    margin-bottom: 1rem;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 40px !important;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
}

.heroImgContent p {
    font-size: 20px !important;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
    line-height: 30px;
    font-family: 'Gotham', Times, serif;
}

.brunoDecription {
    margin-top: 0rem !important;
    text-align: center;
}

.brunoDecription2 {
    width: 100% !important;
    margin-top: 3rem !important;
    text-align: center;
    max-width: 1380px !important;
}

.brunoDecription2 p {
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.brunoDecription3 {
    width: 100% !important;
    margin-top: 5rem !important;
    text-align: center;
    max-width: 1380px !important;
}

.brunoDecription3 p {
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.brunoDecription3 h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.brunoDecription4 {
    width: 100% !important;
    margin-top: 3rem !important;
    text-align: center;
    max-width: 1380px !important;
}

.brunoDecription4 p {
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.brunoDecription4 h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.brunoDecription h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.brunoDecription2 h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.brunoDecription p {
    width: 70%;
    margin: auto;
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.PhytoVideoTag {
    margin-top: 5rem;
    width: 100%;

}


/* styles.module.css */

/* styles.module.css */
/* Rotation img Css start */

.imgRotation {
    width: 270px;
    height: 1rem;
    /* animation: float 3s infinite linear; */
    position: relative;
    right: 1.5rem;

}

@keyframes float {
    from {
        transform: rotate(0deg) translate3d(5px, 0, 0) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

.imgRotation2 {
    width: 270px;
    height: 1rem;
    /* animation: float 3s infinite linear; */
    position: relative;
    float: right;
    top: -3rem;

}

@keyframes float {
    from {
        transform: rotate(0deg) translate3d(5px, 0, 0) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

/* Rotation img Css End */


/* TabDiv CSS Start */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Apply animation to .blinkdots class */
.skyDotsBlink {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: red;
    border-color: rgb(128, 125, 125);
    animation: blink 1s infinite;
}

.customContainer {
    max-width: 1380px !important;
    margin-top: 3rem;
    display: flex;
    padding: 0rem !important;
}

.tabMain {
    padding: 0 20px;
}

.humanTab {
    margin-top: 7rem;
    width: 30%;
}

.tabdiv {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgba(111, 50, 158, 1);
    cursor: pointer;
}

.tabdiv2 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgba(9, 68, 149, 1);
    cursor: pointer;
}

.tabdiv3 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgba(241, 131, 88, 1);
    cursor: pointer;
}

.tabdiv33 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgba(163, 195, 171, 0.1);
    border-radius: 34px;
    border: 2px solid rgba(215, 210, 240, 1);
    cursor: pointer;
}

.tabdiv::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(111, 50, 158, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.6rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv2::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(9, 68, 149, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    right: -24px;
    top: 5.8rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv3::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(240, 128, 86, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.8rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv4::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(69, 213, 253, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.7rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv4 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 34px;
    border: 2px solid rgba(69, 213, 253, 1);
    cursor: pointer;

}


.yellodivContent {
    display: flex;
    margin: 2rem 2rem 2rem 0rem;
}

.medImg {
    margin: auto;

    width: 30%;
}

.medContent {
    width: 70%;
}

.medContent h6 {
    font-size: 16px;
    font-family: 'Gotham', Times, serif;
}

.medContent b {
    font-family: 'Gotham', Times, serif;
}

.medContent p {
    font-size: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    font-family: 'Gotham', Times, serif;
}

.medcoloryellow {
    background-color: rgba(111, 50, 158, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorGreen {
    background-color: rgba(9, 68, 149, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorOrange {
    background-color: rgba(241, 131, 88, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorSky {
    background-color: rgba(69, 213, 253, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.BuyBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BuyBtn button {
    font-family: 'Gotham', Times, serif;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 4px 18px;
}


.spanBtn {
    line-height: 16px;
    word-wrap: break-word;
    font-size: 23px;
}

.humanImg {
    position: relative;
    width: 40%;
    padding: 3rem;

}

.humanContent {
    margin-top: 7rem;
    width: 30%;
}

.HumanDetails {
    display: flex;
    border: 2px solid rgba(215, 210, 240, 1);
    border-radius: 34px;
    background-color: rgba(215, 210, 240, 0.267);
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
}

.SliderText {
    border-right: 4px solid rgba(111, 50, 158, 1);
    height: 140px;
}

/* Dots Blink Css Start */
.dotsDiv {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

.yelloDotsBlink2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(111, 50, 158, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5rem;
    left: 20rem;

}

.yelloDotsBlink2::before {
    content: "";
    border: 5px solid rgba(111, 50, 158, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {

    /* Starting at 1 to prevent IOS flicker */
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.yelloDotsBlink3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(111, 50, 158, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16rem;
    left: 17rem;
}

.yelloDotsBlink3::before {
    content: "";
    border: 5px solid rgba(111, 50, 158, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {

    /* Starting at 1 to prevent IOS flicker */
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.yelloDotsBlink4 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(111, 50, 158, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 26rem;
    left: 18rem;
}

.yelloDotsBlink4::before {
    content: "";
    border: 5px solid rgba(111, 50, 158, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.yelloDotsBlink5 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(111, 50, 158, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 7rem;
    top: 26rem;
}

.yelloDotsBlink5::before {
    content: "";
    border: 5px solid rgba(111, 50, 158, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.yelloDotsBlink6 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(111, 50, 158, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37rem;
    left: 10rem;
}

.yelloDotsBlink6::before {
    content: "";
    border: 5px solid rgba(111, 50, 158, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.greenDotsBlink2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(9, 68, 149, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 14rem;
    left: 8rem;

}

.greenDotsBlink2::before {
    content: "";
    border: 5px solid rgba(9, 68, 149, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {

    /* Starting at 1 to prevent IOS flicker */
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        /* border-color:10px solid #ffda0a; */
        background-color: none;
        border-width: 2px;
    }
}

.greenDotsBlink3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(9, 68, 149, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17rem;
    left: 11rem;

}

.greenDotsBlink3::before {
    content: "";
    border: 5px solid rgba(9, 68, 149, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {

    /* Starting at 1 to prevent IOS flicker */
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.greenDotsBlink4 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(9, 68, 149, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20rem;
    left: 6rem;

}

.greenDotsBlink4::before {
    content: "";
    border: 5px solid rgba(9, 68, 149, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.greenDotsBlink5 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(9, 68, 149, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 21rem;
    left: 8.5rem;
}

.greenDotsBlink5::before {
    content: "";
    border: 5px solid rgba(9, 68, 149, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

.greenDotsBlink6 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(9, 68, 149, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25rem;
    left: 7.5rem;

}

.greenDotsBlink6::before {
    content: "";
    border: 5px solid rgba(9, 68, 149, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

@keyframes expand {

    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.orangeDotsBlink2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(241, 131, 88, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2rem;
    left: 10.5rem;

}

.orangeDotsBlink2::before {
    content: "";
    border: 5px solid rgba(241, 131, 88, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.orangeDotsBlink3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(241, 131, 88, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13rem;
    left: 9rem;

}

.orangeDotsBlink3::before {
    content: "";
    border: 5px solid rgba(241, 131, 88, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.orangeDotsBlink4 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(241, 131, 88, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16rem;
    left: 6rem;

}

.orangeDotsBlink4::before {
    content: "";
    border: 5px solid rgba(241, 131, 88, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.orangeDotsBlink5 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(241, 131, 88, 1);
    ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 22rem;
    left: 6rem;

}

.orangeDotsBlink5::before {
    content: "";
    border: 5px solid rgba(241, 131, 88, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.orangeDotsBlink6 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(241, 131, 88, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 26rem;
    left: 5.6rem;

}

.orangeDotsBlink6::before {
    content: "";
    border: 5px solid rgba(241, 131, 88, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}


.skyDotsBlink2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(86, 204, 240);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    left: 3rem;

}

.skyDotsBlink2::before {
    content: "";
    border: 5px solid rgba(69, 213, 253, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.skyDotsBlink3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(86, 204, 240);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    left: 5.5rem;
}

.skyDotsBlink3::before {
    content: "";
    border: 5px solid rgba(69, 213, 253, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;

}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.skyDotsBlink4 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(86, 204, 240);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    left: 8rem;
}

.skyDotsBlink4::before {
    content: "";
    border: 5px solid rgba(69, 213, 253, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.skyDotsBlink5 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(69, 213, 253, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    left: 11rem;
}

.skyDotsBlink5::before {
    content: "";
    border: 5px solid rgba(69, 213, 253, 1);
    ;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {
    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

.skyDotsBlink6 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(69, 213, 253, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    left: 13rem;
}

.skyDotsBlink6::before {
    content: "";
    border: 5px solid rgba(69, 213, 253, 1);
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 2s expand cubic-bezier(.29, 0, 0, 1) infinite;
    animation-delay: 1s;
}

@keyframes expand {

    1% {
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        width: 300%;
        height: 300%;
        opacity: 0;
        background-color: none;
        border-width: 2px;
    }
}

/* Dots Blink Css End */

.SliderText1 {

    border-right: 4px solid rgba(9, 68, 149, 1);
    height: 140px;
}

.SliderText2 {
    border-right: 4px solid rgba(241, 131, 88, 1);
    height: 140px;
}

.SliderText3 {
    border-right: 4px solid #45D5FD;
    height: 140px;
}

.humanText {

    padding: 0rem 2rem;
}

.humanText h6 {
    font-weight: bold;
    font-family: 'Gotham', Times, serif;
    font-size: 18px;
}

.humanText p {
    font-family: 'Gotham', Times, serif;
    font-size: 14px;
    line-height: 18px;

}


/* TabDiv CSS End */
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 40px;
    height: 5px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000000;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

/* ....Slider 2nd CSS Start */
.SliderDiv2 {
    max-width: 1380px !important;
    margin: 5rem auto !important;

}

.slideData {
    width: 100% !important;
    max-width: 1380px !important;
    display: flex !important;
}

.contentbackdiv {
    width: 65%;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.slideContent {
    padding: 0rem 2rem 1rem 2rem;
}

.slideContent h1 {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}

.slideContent h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}

.slideContent p {
    font-family: 'Gotham', Times, serif;
    padding-right: 1.5rem;
    font-size: 18px;
    line-height: 28px;
}

.pcontent::-webkit-scrollbar {
    width: 3px;
}

.pcontent::-webkit-scrollbar-track {
    background: #afafaf;
}

.pcontent::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.pcontent {
    max-height: 255px;
    overflow: auto;
}


.slide2Img {
    width: 35%;
}

.slide2Img img {
    border-radius: 20px;
}

.bothButton {
    float: right;
    gap: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-right: 1.2rem;
}

.bothButton2 {
    float: right;
    gap: 2rem;
    display: flex;
    margin-top: -6rem;
    margin-right: -0.7rem;
    padding: 20px !important;
    position: relative;

}

.LeftBtn {
    background-color: lightgray;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.LeftBtn :hover {
    background-color: rgb(0, 0, 0);
    height: 67px;
    width: 67px;
    border-radius: 100%;
}

.LeftBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;

}

.RightBtn {
    background-color: lightgray;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RightBtn :hover {
    background-color: rgb(0, 0, 0);
    height: 67px;
    width: 67px;
    border-radius: 100%;
}

.RightBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;
}

/* ....Slider 2nd CSS End */

/* ....Slider 3nd CSS Start */
.forscrollbar{
    overflow: auto;
    height: 500px;
    padding-right: 1rem;
}

.forscrollbar::-webkit-scrollbar {
    width: 3px; 
  }
  
  .forscrollbar::-webkit-scrollbar-track {
    background: #000000; 
  }
  
  .forscrollbar::-webkit-scrollbar-thumb {
    background: #7a7a7a; 
    border-radius: 20px;
  }
  
  .forscrollbar::-webkit-scrollbar-thumb:hover {
    background: #828282;
  }


.nextCarousel {
    margin-top: 9rem;
    margin-bottom: 5rem;
    background-color: rgba(244, 244, 244, 1);
}

.SliderDiv3 {
    margin: auto !important;
    width: 100% !important;
    max-width: 1380px !important;
    padding: 20px;
}

.slider3data {
    display: flex !important;
}

.sliderContent {
    width: 35%;
    margin-right: 0rem !important;
}

.sliderContent h6 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.Pcontent {
    font-family: 'Gotham', Times, serif;
    font-size: 13px;
}

.blackHr {
    color: rgba(0, 0, 0, 1);
}

.sliderContentIMG {
    width: 30%;
}

.sliderContentIMG img {
    width: 95%;
}

.sliderContent3 {
    width: 35%;
    padding-right: 10px !important;

}

.sliderContent3 h3 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.sliderContent3 h5 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 40px;
    margin-top: 1rem;
    color: #000000;
}

.roundeddiv {
    display: flex;
    justify-content: left;
    margin-top: 3rem;
    gap: 1rem;
}

.round {
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
}

.round p {
    padding: 10px 8px;
    margin-bottom: 0rem;
    font-size: 14px;
    font-family: 'Gotham', Times, serif;
    color: #000000;
}

.round2 {
    margin-top: 1rem;
    border-radius: 34px;
    width: max-content;
    border: 1px solid rgb(2, 2, 2);

}

.round2 p {
    font-family: 'Gotham', Times, serif;
    padding: 10px 8px;
    align-items: center;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    color: #000000;

}

.blackHr2 {
    color: rgba(0, 0, 0, 1);
    margin-top: 3rem;
    opacity: 1;
}

.roundBtn {
    margin-top: 3rem;
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
}

.roundBtn p {
    font-family: 'Gotham', Times, serif;
    padding: 10px;
    align-items: center;
    margin-bottom: 0rem;
    display: flex;
    font-size: 20px;
    border-radius: 34px;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/* ....Slider 3nd CSS End */



.carousel-indicators [data-bs-target] {
    background-color: black !important;
    width: 40px !important;
    height: 5px !important;
}


/* modale Css Start */
.modalContent {
    width: 40%;
    display: grid;
}

.mainModalDiv {
    margin: 2rem 4rem 2rem 4rem;
    display: flex;
}

.stocDiv {
    padding: 0rem 2rem 0rem 2rem;
}

.stock {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.customSelect {
    display: flex;
    align-items: center;
}

.selectDiv {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

.addCartButton {
    width: 100%;
    height: 45px;
    background: #000;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
}

.offprice {
    color: #575959;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
}

.unit {
    padding: 0px 5px 0px !important;
    margin-bottom: 0px;
}

.saveContent {
    overflow: auto;
    height: 200px;
    padding: 0rem 2rem 0rem 2rem;
    font-family: 'Gotham', Times, serif;
}


.saveContent::-webkit-scrollbar {
    width: 3px;
}

.p_content::-webkit-scrollbar-track {
    background: #afafaf;
}

.saveContent::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 20px;
}

.saveContent::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.stocDiv {
    display: flex;
    flex-direction: column;
    font-family: 'Gotham', Times, serif;
}

.stocDiv2 {
    display: flex;
}

.save {
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    background: #80db69;
}

.savetext {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 0;
    padding-left: 5px;
}

.sectionbar2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.sectionbar2 ul {
    list-style: disc;
}

.sectionbar3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(86, 0, 140);
    display: flex;
    align-items: center;
}

.LearnbText {
    cursor: pointer;
    margin-right: 5px;
}

.UpArrow {
    width: 13px;
    height: 13px;
    transform: rotate(270deg);
    margin: auto 4px;
    transition: transform 0.3s ease;
}

.UpArrow svg path {
    fill: rgb(86, 0, 140);
    stroke: rgb(86, 0, 140);

}

.rotate90 {
    transform: rotate(90deg);
}

.desclimerText {
    padding: 0rem 10px 0rem !important;
    flex-direction: column;
    row-gap: 10px;
    font-size: 9px;
    margin-top: 15px;
}

.sectionbar4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informatonText p {
    margin-bottom: 0rem;
    font-family: 'Gotham', Times, serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.infoBtn {
    margin-bottom: 4px;
}

.stocDiv3 {
    padding: 0rem 2rem 0rem 0rem;
    display: flex;
    flex-direction: column;
}

.stock2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.customSelect2 {
    display: flex;
    align-items: center;
}

.selectDiv2 {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

.customSelect3 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.selectDiv3 {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

.modalImg {
    width: 60%;
    margin: auto;
}

.modalImgTitle {
    position: relative;
    bottom: 3rem;
}

.modalImgTitle p {
    text-align: center;
    background-color: rgba(86, 0, 140, 1);
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-family: 'Gotham', Times, serif;
}

.medTitle {
    margin: auto;
    left: -1.8rem;
    padding: 1rem;
    width: 100%;
    background-color: rgba(249, 195, 0, 1);
    position: relative;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.modaltitle h6 {
    margin-bottom: 0rem;
    font-family: 'Gotham', Times, serif;

}

.modaltitle p {
    margin-bottom: 0rem;
    font-family: 'Gotham', Times, serif;
}

.modalContentData {
    display: flex;
}

.brunoImgModal {
    position: relative;
    left: 10px;
}

.modaltitle {
    margin: auto 0px;
    text-align: center;
    background-color: rgba(249, 195, 0, 1);
    padding: 1rem 4rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.medTitle h6 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gotham', Times, serif;
    margin-bottom: 0rem;
    color: #000000;
}

.medTitle p {
    font-size: 24px;
    font-family: 'Gotham', Times, serif;
    margin-bottom: 0rem;
    color: #000000;
}

.Accordian1 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0rem;
    background-color: #f4f3f4;
}

.active {
    background-color: rgb(255, 255, 255);
}

.Accordian1 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gotham', Times, serif;
}

.Accordian2 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    background-color: #f4f3f4;
}

.active2 {
    background-color: rgb(255, 255, 255);
}

.Accordian2 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gotham', Times, serif;
}

.radioButton {
    margin-left: 1rem;
}

.accordionContent p {
    padding: 0rem 1rem 0rem;
}

/* Modal Css End */

@media only screen and (max-width:2560px) and (min-width:1920px) {

    .heroImgContent h1 {
        font-size: 80px !important;
    }

    .heroImgContent h2 {
        font-size: 60px !important;
    }

    .heroImgContent p {
        font-size: 30px !important;
        line-height: 30px;
    }

    .ancorLink button {
        font-size: 18px !important;
    }

    .Rectangle1 img {
        height: 350px;
    }

    .Rectangle2 img {
        height: 350px;
    }

    .brunoDecription h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .brunoDecription2 h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .brunoDecription3 h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .brunoDecription4 h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .brunoDecription p {
        width: 50%;
        font-size: 18px;
    }

    .medContent h6 {
        font-size: 18px;
        width: 75%;
    }

    .medContent p {
        font-size: 18px;
        width: 90%;

    }

    .medcoloryellow {
        height: 14px;
        width: 50px;
    }

    .medcolorGreen {
        height: 14px;
        width: 50px;
    }

    .medcolorOrange {
        height: 14px;
        width: 50px;
    }

    .medcolorSky {
        height: 14px;
        width: 50px;
    }

    .spanBtn {
        line-height: 14px;
        font-size: 16px;
        padding: 16px 0px;
    }

    .slideContent h3 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 2rem;
    }

    .sliderContent h6 {
        font-size: 25px;
        line-height: 45px;
    }

    .sliderContent p {
        font-size: 16px;
        line-height: 22px;
    }

    .pcontent {
        max-height: 260px;
    }

    .slider3data {
        margin-top: 5rem;
    }

    .sliderContent3 h3 {
        font-size: 55px !important;
        line-height: 60px;
    }

    .slideContent h5 {
        font-size: 40px;
        line-height: 48px;
    }

    .round p {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 20px;
        width: max-content;
    }

    .round2 {
        width: max-content;
    }

    .round2 p {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 20px;
    }

    .roundBtn p {
        font-size: 30px;
    }

    .bothButton {
        margin-right: 0rem;
    }

    .bothButton2 {
        margin-top: -10rem;
        margin-right: -1.5rem;
    }

}

@media(max-width:1920px) {
    .BuyBtn button {
        font-size: 20px;
    }

    .brunoDecription2 {
        margin-top: 5rem !important;
    }

    /* blink Css Start */
    .yelloDotsBlink2 {
        left: 22rem;
    }

    .yelloDotsBlink3 {
        top: 20rem;
        left: 22rem;
    }

    .yelloDotsBlink4 {
        left: 23rem;
        top: 30rem;
    }

    .yelloDotsBlink5 {
        top: 34rem;
        left: 10rem;
    }

    .yelloDotsBlink6 {
        top: 45rem;
        left: 14rem;
    }

    .greenDotsBlink2 {
        left: 10rem;
        top: 18rem;
    }

    .greenDotsBlink3 {
        left: 14rem;
        top: 23rem;
    }

    .greenDotsBlink4 {
        top: 25rem;
        left: 8rem;
    }

    .greenDotsBlink5 {
        top: 27rem;
        left: 11.6rem;
    }

    .greenDotsBlink6 {
        left: 10.4rem;
        top: 31rem;
    }

    .orangeDotsBlink2 {
        left: 13.5rem;
    }

    .orangeDotsBlink3 {
        left: 12.5rem;
        top: 15rem;
    }

    .orangeDotsBlink4 {
        top: 19rem;
        left: 7rem;
    }

    .orangeDotsBlink5 {
        top: 26rem;
        left: 7rem;
    }

    .orangeDotsBlink6 {
        left: 8.6rem;
        top: 34rem;
    }

    .skyDotsBlink2 {
        left: 5rem;
    }

    .skyDotsBlink3 {
        left: 8.5rem;
    }

    .skyDotsBlink4 {
        left: 11rem;
    }

    .skyDotsBlink5 {
        left: 14rem;
    }

    .skyDotsBlink6 {
        left: 18rem;
    }

    /* blink Css End */

    .sliderContentIMG {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .sliderContentIMG img {
        width: 75%;
    }

    .slider3data {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    .slideContent h1{
        font-size: 60px;
    }
}

@media(max-width:1600px) {

    .heroImgContent h1 {
        font-size: 100px;
    }

    .ancorLink button {
        font-size: 18px;
    }

    .sliderContentIMG {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .sliderContentIMG img {
        width: 75%;
    }
}

@media only screen and (max-width:1800px) and (min-width:1440px) {
    .container {
        max-width: 1380px !important;
    }

}

@media(max-width:1600px) {
    .heroImgContent h1 {
        font-size: 65px !important;
    }
}

@media(max-width:1440px) {

    .heroImgContent h1 {
        font-size: 50px !important;
    }

    .heroImgContent h1 {
        font-size: 40px;
    }

    .ancorLink button {
        font-size: 18px;
    }

    /* human Tab Css Start */


    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText p {
        font-size: 13px;
    }

    /* Blink Css Start */
    .yelloDotsBlink5 {
        top: 32rem;
        left: 9rem;
    }

    .yelloDotsBlink4 {
        top: 28rem;
        left: 21rem;
    }

    .yelloDotsBlink6 {
        top: 43rem;
        left: 13rem;

    }

    .greenDotsBlink2 {
        left: 13rem;
    }

    .greenDotsBlink3 {
        top: 19rem;
        left: 8rem;
    }

    .greenDotsBlink4 {
        left: 12.5rem;
        top: 19rem;
    }

    .greenDotsBlink5 {
        left: 11.3rem;
        top: 22rem;
    }

    .greenDotsBlink6 {
        left: 10.1rem;
        top: 25rem;
    }

    .orangeDotsBlink2 {
        left: 13rem;
    }

    .orangeDotsBlink3 {
        left: 12rem;
        top: 14rem;
    }

    .orangeDotsBlink4 {
        left: 6.5rem;
        top: 18rem;
    }

    .orangeDotsBlink5 {
        left: 6rem;
        top: 25rem;
    }

    .orangeDotsBlink6 {
        top: 32rem;
        left: 8rem;
    }

    .skyDotsBlink2 {
        left: 5rem;
    }

    .skyDotsBlink3 {
        left: 8.5rem;
    }

    .skyDotsBlink4 {
        left: 11rem;
    }

    .skyDotsBlink5 {
        left: 14rem;
    }

    .skyDotsBlink6 {
        left: 17rem;
    }

    /* Blink Css Start */

    /* human Tab Css End */

    /* slider Css start */

    .slideContent h3 {
        margin-top: -6rem;
    }

    .slider3data {
        margin-top: 4rem;
        margin-bottom: 6rem;

    }

    .sliderContentIMG {
        text-align: center;
        margin: auto;
        justify-content: center;
        display: flex;
    }

    .sliderContentIMG img {
        width: 75%;
    }

    .bothButton {
        margin-right: 0rem;
    }

    .bothButton2 {
        margin-top: -8rem;
        margin-right: -1.3rem;
    }
    .slideContent h1{
        font-size: 50px;
    }
  
    /*Slider Css End   */
}


@media(max-width:1400px) {

    .imgcotent {
        padding: 0 20px;
    }

    .slideData {
        padding: 0 20px;
    }

    .nextCarousel {
        padding: 0 20px;
    }

    .brunoDecription2 {
        margin-top: 3rem !important;
    }

    .bothButton {
        margin-right: 1rem !important;
    }

    .bothButto2 {
        margin-right: 0rem;
    }

}

@media (max-width:1300px) {
    .imgcotent {
        /* top: 16rem !important */
    }

    .slider3data {

        padding: 0px;
    }
}

@media (max-width:1200px) {

    .heroImgContent h1 {
        font-size: 50px !important;
    }

    .pcontent {
        max-height: 170px;
    }

}

@media(max-width:1024px) {

    .heroImgContent h1 {
        font-size: 45px !important;
    }

    .heroImgContent h3 {
        font-size: 35px !important;
    }

    .heroImgContent p {
        font-size: 18px !important;
    }

    .ancorLink button {
        font-size: 18px;
        padding: 8px 16px;
    }

    .brunoDecription h1 {
        font-size: 45px;
    }

    .brunoDecription p {
        width: 70%;
    }

    .imgRotation {
        width: 200px;
        margin-bottom: 4rem;
    }

    .imgRotation2 {
        margin-top: 2rem;
        width: 200px;
    }

    .imgRotation2 {
        margin-top: 2rem;
        width: 200px;
    }

    .tabdiv::after {
        top: 4rem;
    }

    .tabdiv2::after {
        top: 4rem;
    }

    .tabdiv3::after {
        top: 4rem;
    }

    .tabdiv4::after {
        top: 4rem;
    }

    .BuyBtn button {
        margin-right: 1rem;
        font-size: 16px;
    }

    /* Blink Css Start */

    .yelloDotsBlink2 {
        top: 3rem;
        left: 14rem;
    }

    .yelloDotsBlink3 {
        left: 13.5rem;
        top: 12rem;
    }

    .yelloDotsBlink4 {
        left: 14rem;
        top: 20rem;
    }

    .yelloDotsBlink5 {
        left: 5rem;
        top: 21rem;
    }

    .yelloDotsBlink6 {
        left: 6.6rem;
        top: 32rem;
    }

    .greenDotsBlink2 {
        top: 11rem;
        left: 7rem;
    }

    .greenDotsBlink3 {
        left: 10rem;
        top: 14rem;
    }

    .greenDotsBlink4 {
        left: 4rem;
        top: 16rem;
    }

    .greenDotsBlink5 {
        left: 6.5rem;
        top: 17rem;
    }

    .greenDotsBlink6 {
        left: 5.3rem;
        top: 20rem;
    }

    .orangeDotsBlink2 {
        left: 8.5rem;
        top: 1rem;
    }

    .orangeDotsBlink3 {
        top: 10rem;
        left: 7rem;
    }

    .orangeDotsBlink4 {
        top: 12rem;
        left: 4rem;
    }

    .orangeDotsBlink5 {
        top: 16rem;
        left: 3rem;
    }

    .orangeDotsBlink6 {
        top: 21rem;
        left: 3.3rem;
    }

    .skyDotsBlink2 {
        top: 3rem;
        left: 2rem;
    }

    .skyDotsBlink3 {
        top: 3rem;
        left: 4.3rem;
    }

    .skyDotsBlink4 {
        top: 3rem;
        left: 6rem;
    }

    .skyDotsBlink5 {
        top: 3rem;
        left: 8.3rem;
    }

    .skyDotsBlink6 {
        top: 3rem;
        left: 10.5rem;
    }


    /* tabDiv css Start */
    .yellodivContent .medContent h6 {
        font-size: 16px;
    }

    .medContent p {
        width: 100%;
        letter-spacing: 0px;
        font-size: 14px;
    }

    .medImg {
        padding-left: 0rem;
    }

    .yellodivContent {
        margin: 10px 0px;
    }

    .medcoloryellow {
        height: 10px;
    }

    .medcolorGreen {
        height: 10px;
    }

    .medcolorOrange {
        height: 10px;
    }

    .medcolorSky {
        height: 10px;
    }

    .spanBtn {
        font-size: 16px;
    }

    .HumanDetails {
        padding: 1.05rem 1rem;
        border-radius: 15px;
    }

    .SliderText {
        height: 100px;
    }

    .SliderText1 {
        height: 100px;
    }

    .SliderText2 {
        height: 100px;
    }

    .SliderText3 {
        height: 100px;
    }


    .humanTab {
        margin-top: 4rem;
    }

    .humanContent {
        margin-top: 4rem;
    }

    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText h6 {
        font-size: 16px;
    }

    .humanText p {
        font-size: 12px;
        overflow: auto;
        height: 65px;
        margin-bottom: 0rem;
    }

    .tabdiv {
        border-radius: 15px;
    }

    .tabdiv33 {
        border-radius: 15px;
    }

    /* tabDiv Css end */

    /* slide Content Css start */
    .pcontent {
        height: 180px;
    }

    .slideContent h3 {
        font-size: 35px;
    }

    /* slide Content Css End */

    /* slider 2  Css Start */


    .sliderContent h6 {
        font-size: 16px;
    }

    .sliderContent3 h3 {

        font-size: 31px;
    }

    .sliderContent3 h5 {
        font-size: 24px;
    }

    .forscrollbar {
        overflow: auto;
        height: 370px;
    }

    .roundeddiv {
        margin-top: 2rem;
    }

    .round p {
        font-size: 12px;
    }

    .round2 {
        width: max-content;
    }

    .round2 p {
        font-size: 12px;
    }

    .bothButton2 {
        margin-right: -1rem;
        padding-top: 3rem !important;

    }

    /* Slider 2 Css End */


}

@media(max-width:991px) {

    .carouselMain img {
        width: 100% !important;
    }

    .heroImgContent h1 {
        font-size: 36px !important;
    }

    .heroImgContent h2 {
        margin-bottom: 0rem;
        font-size: 26px !important;
    }

    .heroImgContent p {
        margin-bottom: 0rem;
        line-height: 20px;
        font-size: 16px !important;
    }

    .ancorLink {
        margin-top: 10px;
    }

    .ancorLink button {
        font-size: 14px;
        padding: 2px 10px;
    }

    .brunoDecription h1 {
        font-size: 40px !important;

    }

    .brunoDecription p {
        width: 100%;
    }

    .imgRotation {
        width: 200px;

    }

    .brunoDecription2 h1 {
        font-size: 40px !important;
    }

    .brunoDecription3 h1 {
        padding-top: 3rem;
    }

    .brunoDecription4 h1 {
        padding-top: 3rem;
    }

    .imgRotation2 {
        width: 200px;
        margin-top: 4rem;
    }

    .BuyBtn {
        display: block;
    }

    .BuyBtn button {
        bottom: -0.3rem;
        position: relative;
        margin-right: 0rem;
        font-size: 12px;
        border-radius: 10px;
        padding: 4px 12px;
        margin-bottom: 5px;
    }

    .tabdiv {
        border-radius: 15px;
    }

    .tabdiv::after {
        top: 4.5rem;
    }

    .tabdiv2 {
        border-radius: 15px;
    }

    .tabdiv2::after {
        top: 4.5rem;
    }

    .tabdiv3 {
        border-radius: 15px;
    }

    .tabdiv3::after {
        top: 4rem;
    }

    .tabdiv4 {
        border-radius: 15px;
    }

    .tabdiv4::after {
        top: 4.5rem;
    }

    .tabdiv33 {
        border-radius: 15px;
    }

    .medContent h6 {
        font-size: 12px;
        margin: 0rem;
    }

    .medContent p {
        width: 100%;
        letter-spacing: 0px;
        min-height: 40px;
        font-size: 12px;
    }

    .medImg {
        padding-left: 0rem;
    }

    .yellodivContent {
        margin: 10px 0px;
    }

    .medcoloryellow {
        height: 10px;
    }

    .medcolorGreen {
        height: 10px;
    }

    .medcolorOrange {
        height: 10px;
    }

    .medcolorSky {
        height: 10px;
    }

    .spanBtn {
        font-size: 16px;
    }

    .HumanDetails {
        padding: 1.05rem 1rem;
        border-radius: 15px;
    }

    .SliderText {
        height: 100px;
    }

    .SliderText1 {
        height: 85px;
    }

    .SliderText2 {
        height: 85px;

    }

    .SliderText3 {
        height: 85px;
    }

    .round {
        margin-bottom: 1rem;
        width: fit-content;
        border-radius: 34px;
        border: 1px solid rgb(2, 2, 2);
    }

    .humanTab {
        margin-top: 4rem;
    }

    .humanContent {
        margin-top: 4rem;
    }

    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText h6 {
        font-size: 12px;
    }

    .humanText p {
        font-size: 10px;
        overflow: auto;
        height: 50px;
        margin-bottom: 0rem;
    }

    /* Blink Css start */
    .yelloDotsBlink2 {
        top: 2rem;
        left: 9rem;
        height: 15px;
        width: 15px;
    }

    .yelloDotsBlink3 {
        height: 15px;
        width: 15px;
        top: 8rem;
        left: 8.5rem;
    }

    .yelloDotsBlink4 {
        height: 15px;
        width: 15px;
        top: 13.5rem;
        left: 9rem;
    }

    .yelloDotsBlink5 {
        height: 15px;
        width: 15px;
        top: 14rem;
        left: 2.9rem;
    }

    .yelloDotsBlink6 {
        height: 15px;
        width: 15px;
        top: 19rem;
        left: 3.5rem;
    }

    .greenDotsBlink2 {
        height: 15px;
        width: 15px;
        top: 7rem;
        left: 4.2rem;
    }

    .greenDotsBlink3 {
        height: 15px;
        width: 15px;
        top: 9rem;
        left: 5.5rem;
    }

    .greenDotsBlink4 {
        height: 15px;
        width: 15px;
        top: 10rem;
        left: 2rem;
    }

    .greenDotsBlink5 {
        height: 15px;
        width: 15px;
        left: 3.6rem;
        top: 11rem;
    }

    .greenDotsBlink6 {
        height: 15px;
        width: 15px;
        left: 2.6rem;
        top: 13rem;
    }

    .orangeDotsBlink2 {
        height: 15px;
        width: 15px;
        top: 1rem;
        left: 5.6rem;
    }

    .orangeDotsBlink3 {
        height: 15px;
        width: 15px;
        top: 6.5rem;
        left: 4rem;
    }

    .orangeDotsBlink4 {
        height: 15px;
        width: 15px;
        top: 8rem;
        left: 2rem;
    }

    .orangeDotsBlink5 {
        height: 15px;
        width: 15px;
        top: 11rem;
        left: 2rem;
    }

    .orangeDotsBlink6 {
        height: 15px;
        width: 15px;
        top: 14rem;
        left: 1.9rem;
    }

    .skyDotsBlink2 {
        height: 15px;
        width: 15px;
        top: 1.5rem;
        left: 1rem;
    }

    .skyDotsBlink3 {
        height: 15px;
        width: 15px;
        top: 1.5rem;
        left: 2.4rem
    }

    .skyDotsBlink4 {
        height: 15px;
        width: 15px;
        top: 1.5rem;
        left: 3.6rem;
    }

    .skyDotsBlink5 {
        height: 15px;
        width: 15px;
        top: 1.5rem;
        left: 5.4rem;
    }

    .skyDotsBlink6 {
        height: 15px;
        width: 15px;
        top: 1.5rem;
        left: 7rem;
    }

    /* Blink Css End */


    /* Slider CSS Start */
    .slideContent {
        padding: 1rem;
    }

    .slideContent h3 {
        font-size: 30px;
        margin-top: -2rem;
    }

    .slideContent p {
        font-size: 16px;
    }

    /* Slider CSS End */
    /* SliderContent 3 CSS START */

    .forscrollbar {
        overflow: auto;
        height: 250px;
    }

    .slider3data {
        padding: 15px !important;
        margin-top: 2rem;
    }

    .sliderContent3 h3 {
        font-size: 24px;

    }

    .sliderContent3 h5 {
        font-size: 24px;
    }

    .sliderContent3 h6 {
        font-size: 18px;
    }

    .roundeddiv {
        margin-top: 1rem;
        display: block;
    }

    .round p {
        font-size: 10px;
    }

    .round2 {
        width: max-content;
    }

    .round2 p {
        font-size: 10px;
    }

    .blackHr2 {
        margin-top: 1rem;
    }

    .roundBtn {
        margin-top: 1rem;
    }

    .roundBtn p {
        font-size: 16px;
    }

    .bothButton {
        margin-right: 1rem !important;
    }

    .bothButton2 {
        margin-top: -8rem;
        margin-right: -1.3rem;
    }

    .pcontent {
        height: 130px;
    }

    /* SliderContent 3 CSS ENd */

}

.carouselMain {
    background: #ffffff !important;

}

@media only screen and (max-width:991px) and (min-width:800px) {
    .carouselMain img {
        width: 93.5%;
    }
}