.carouselMain img {
    width: 97%;
    display: flex;
    margin: auto 6.7rem;
}






.heroImgContent {
    color: black;
}

.ancorLink {
    margin-top: 2rem;
    line-height: 30px;
}

.ancorLink button {
    background-color: black;
    border: none;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 34px;
    font-size: 16px;
    padding: 8px 16px;
}

.ancorLink a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gotham', Times, serif;


}

.RectangleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -4rem;
    position: relative;
    z-index: 1;
}

.Rectangle1 {

    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.Rectangle1 img {
    height: 200px;
}

.Rectangle2 {
    animation: slide2 5s linear infinite;
}

@keyframes slide2 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0%);
    }
}

.Rectangle1 img {
    height: 200px;
}

.Rectangle2 img {
    height: 200px;
}

.imgcotent {
    top: 21rem;
    left: 6.7rem !important;
    width: 35%;
}

.heroImgContent {
    text-align: left;
}

.brunoDecription {
    margin-top: 6rem !important;
}

.heroImgContent h3 {
    font-size: 80px !important;
    color: rgb(0, 0, 0);
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    -webkit-text-stroke: 0.5px #b7b7b7;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
    font-weight: bold;
    margin-bottom: 0rem;

}

.heroImgContent h5 {
    margin-bottom: 1rem;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 40px !important;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
}

.heroImgContent p {
    font-size: 24px !important;
    text-shadow: 0px 2px 0px rgba(240, 240, 240, 0.25);
    line-height: 20px;
    font-family: 'Gotham', Times, serif;
}

.brunoDecription {
    margin-top: 0rem !important;
    text-align: center;
}

.brunoDecription2 {
    margin-top: 3rem !important;
    text-align: center;
}

.brunoDecription2 p {
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.brunoDecription3 {
    margin-top: 3rem !important;
    text-align: center;
}

.brunoDecription3 p {
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.brunoDecription h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}

.brunoDecription p {
    width: 70%;
    margin: auto;
    font-family: 'Gotham', Times, serif;
    line-height: 24px !important;
}

.PhytoVideoTag {
    margin-top: 3rem;
    width: 100%;

}


/* styles.module.css */

/* styles.module.css */
/* Rotation img Css start */

.imgRotation {
    width: 270px;
    height: 1rem;
    animation: float 3s infinite linear;
    position: relative;
    right: 1.5rem;

}

@keyframes float {
    from {
        transform: rotate(0deg) translate3d(5px, 0, 0) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

.imgRotation2 {
    width: 270px;
    height: 1rem;
    animation: float 3s infinite linear;
    position: relative;
    float: right;
    left: 5rem;
    top: -5rem;

}

@keyframes float {
    from {
        transform: rotate(0deg) translate3d(5px, 0, 0) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate3d(5px, 0, 0) rotate(-360deg);
    }
}

/* Rotation img Css End */


/* TabDiv CSS Start */
.customContainer {
    margin-top: 3rem;
    display: flex;
    padding: 0rem !important;
}

.humanTab {
    margin-top: 7rem;
    width: 30%;
}

.tabdiv {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgba(249, 195, 0, 1);
    cursor: pointer;
}

.tabdiv2 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgb(136, 230, 49);
    cursor: pointer;
}

.tabdiv3 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 34px;
    border: 2px solid rgba(240, 128, 86, 1);
    cursor: pointer;
}

.tabdiv33 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgba(163, 195, 171, 0.1);
    border-radius: 34px;
    border: 2px solid rgba(215, 210, 240, 1);
    cursor: pointer;
}

.tabdiv::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(255, 208, 0);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.6rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv2::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(116, 203, 89, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    right: -24px;
    top: 5.8rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv3::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(240, 128, 86, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.8rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv4::after {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(69, 213, 253, 1);
    content: " ";
    position: absolute;
    bottom: -15px;
    top: 5.7rem;
    right: -24px;
    transform: rotate(270deg)
}

.tabdiv4 {
    position: relative;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 34px;
    border: 2px solid rgba(69, 213, 253, 1);
    cursor: pointer;

}


.yellodivContent {
    display: flex;
    margin: 2rem 1rem;
}

.medImg {
    margin: auto;

    width: 30%;
}

.medContent {
    width: 70%;
}

.medContent h6 {
    font-size: 16px;
}

.medContent p {
    margin-right: 1rem;
    font-size: 18px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.medcoloryellow {
    background-color: rgba(249, 195, 0, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorGreen {
    background-color: rgba(116, 203, 89, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorOrange {
    background-color: rgba(240, 128, 86, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.medcolorSky {
    background-color: rgba(69, 213, 253, 1);
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.butNowBTN {
    display: block;
    width: 10%;
    border: 5px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 0.2rem;
    left: -0.5rem;
    background-color: black;
    color: white;
    padding: 8px 6px;
}

.spanBtn {
    line-height: 16px;
    word-wrap: break-word;
    font-size: 23px;
    /* padding: 113px 0px; */
}

.humanImg {
    width: 40%;
    padding: 3rem;

}

.humanContent {
    margin-top: 7rem;
    width: 30%;
}

.HumanDetails {
    display: flex;
    border: 2px solid rgba(215, 210, 240, 1);
    border-radius: 34px;
    background-color: rgba(215, 210, 240, 0.267);
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
}

.SliderText {
    border-right: 4px solid rgb(255, 196, 0);
    height: 140px;
}

.SliderText1 {

    border-right: 4px solid #74CB59;
    ;
    height: 140px;
}

.SliderText2 {
    border-right: 4px solid #F08056;
    height: 140px;
}

.SliderText3 {
    border-right: 4px solid #45D5FD;
    height: 140px;
}

/* .leftLine {
    border-right: 4px solid rgb(255, 196, 0);
    height: 140px;
} */

.humanText {

    padding: 0rem 2rem;
}

.humanText h6 {
    font-weight: bold;
    font-family: 'Gotham', Times, serif;
    font-size: 18px;
}

.humanText p {
    font-family: 'Gotham', Times, serif;
    font-size: 14px;
    line-height: 18px;

}


/* TabDiv CSS End */
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 40px;
    height: 5px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000000;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

/* ....Slider 2nd CSS Start */
.SliderDiv2 {
    margin-top: 3rem;
    padding: 0rem !important;

}

.slideData {
    width: 100% !important;
    display: flex !important;
}

.contentbackdiv {
    width: 65%;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.slideContent {
    padding: 2rem;
}

.slideContent h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 40px;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
}

.slideContent p {
    padding-right: 1.5rem;
    font-size: 18px;
    line-height: 28px;
}

.pcontent::-webkit-scrollbar {
    width: 3px;
}

.pcontent::-webkit-scrollbar-track {
    background: #afafaf;
}

.pcontent::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.pcontent {
    max-height: 255px;
    overflow: auto;
}


.slide2Img {
    width: 35%;
}

.slide2Img img {
    border-radius: 20px;
}

.bothButton {
    float: right;
    gap: 2rem;
    display: flex;
    margin-top: 2rem;
}

.bothButton2 {
    float: right;
    gap: 2rem;
    display: flex;
    margin-top: -10rem;
    margin-right: 6.5rem;
    position: relative;

}

.LeftBtn {
    background-color: lightgray;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.LeftBtn :hover {
    background-color: rgb(0, 0, 0);
    height: 67px;
    width: 67px;
    border-radius: 100%;
}

.LeftBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;

}

.RightBtn {
    background-color: lightgray;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RightBtn :hover {
    background-color: rgb(0, 0, 0);
    height: 67px;
    width: 67px;
    border-radius: 100%;
}

.RightBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;
}




/* ....Slider 2nd CSS End */
/* ....Slider 3nd CSS Start */
.nextCarousel {
    margin-top: 9rem;
    margin-bottom: 5rem;
    background-color: rgba(244, 244, 244, 1);
}

.SliderDiv3 {
    /* border: 5px solid rgb(255, 123, 0); */
    /* padding: 0rem !important; */
}

.slider3data {
    display: flex !important;
    padding: 6.5rem;
}

.sliderContent {
    /* border: 1px solid black !important; */
    width: 35%;
    margin-right: 2rem;
}

.sliderContent h6 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.Pcontent {
    font-family: 'Gotham', Times, serif;
    font-size: 13px;
}

.blackHr {
    color: rgba(0, 0, 0, 1);
}

.sliderContentIMG {
    width: 30%;
}

.sliderContentIMG img {
    width: 95%;
}

.sliderContent3 {
    /* border: 1px solid black !important; */
    width: 35%;

}

.sliderContent3 h3 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 44px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.sliderContent3 h5 {
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    font-size: 40px;
    margin-top: 1rem;
}

.roundeddiv {
    display: flex;
    justify-content: left;
    margin-top: 3rem;
    gap: 1rem;
}

.round {
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
    /* margin-right: 2rem; */
}

.round p {
    padding: 10px 8px;
    margin-bottom: 0rem;
    font-size: 14px;
    font-family: 'Gotham', Times, serif;
}

.round2 {
    margin-top: 1rem;
    border-radius: 34px;
    width: 50%;
    border: 1px solid rgb(2, 2, 2);
}

.round2 p {
    padding: 10px 8px;
    align-items: center;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;

}

.blackHr2 {
    color: rgba(0, 0, 0, 1);
    margin-top: 3rem;
}

.roundBtn {
    margin-top: 3rem;
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
}

.roundBtn p {
    padding: 10px;
    align-items: center;
    margin-bottom: 0rem;
    display: flex;
    font-size: 20px;
    border-radius: 34px;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/* ....Slider 3nd CSS End */



.carousel-indicators [data-bs-target] {
    background-color: black !important;
    width: 40px !important;
    height: 5px !important;
    /* Use !important to ensure the style overrides default Bootstrap styles */
}


/* modale Css Start */
.modalContent {
    width: 40%;
    /* border-radius: 23px; */
    /* border: solid 2px rgb(255, 0, 0); */
    display: grid;
}

.mainModalDiv {
    margin: 2rem 4rem 2rem 4rem;
    display: flex;
}

.Accordian {
    /* border: 2px solid black; */
    /* border-radius: 15px; */
}

.stocDiv {
    padding: 0rem 2rem 0rem 2rem;
}

.stock {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.customSelect {
    display: flex;
    align-items: center;
}

.selectDiv {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

.addCartButton {
    width: 100%;
    height: 45px;
    background: #000;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
}

.offprice {
    color: #575959;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
}

.unit {
    padding: 0px 5px 0px !important;
    margin-bottom: 0px;
}

.saveContent {
    overflow: auto;
    height: 200px;
    padding: 0rem 2rem 0rem 2rem;
}


.saveContent::-webkit-scrollbar {
    width: 3px;
}

.p_content::-webkit-scrollbar-track {
    background: #afafaf;
}

.saveContent::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 20px;
}

.saveContent::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.stocDiv {
    display: flex;
    flex-direction: column;
}

.stocDiv2 {
    display: flex;
}

.save {
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    background: #80db69;
}

.savetext {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 0;
    padding-left: 5px;
}

.sectionbar2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.sectionbar2 ul {
    list-style: disc;
}

.sectionbar3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(86, 0, 140);
    display: flex;
    align-items: center;
}

.LearnbText {
    cursor: pointer;
    margin-right: 5px;
}

.UpArrow {
    width: 13px;
    height: 13px;
    transform: rotate(270deg);
    margin: auto 4px;
    transition: transform 0.3s ease;
}

.UpArrow svg path {
    fill: rgb(86, 0, 140);
    stroke: rgb(86, 0, 140);

}

.rotate90 {
    transform: rotate(90deg);
    /* Rotate arrow 90 degrees */
}

.desclimerText {
    padding: 0rem 10px 0rem !important;
    flex-direction: column;
    row-gap: 10px;
    font-size: 9px;
    margin-top: 15px;
}

.sectionbar4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informatonText p {
    margin-bottom: 0rem;
    font-family: Gotham-Book, Arial, serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.infoBtn {
    margin-bottom: 4px;
}

.stocDiv3 {
    padding: 0rem 2rem 0rem 0rem;
    display: flex;
    flex-direction: column;
}

.stock2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.customSelect2 {
    display: flex;
    align-items: center;
}

.selectDiv2 {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

.customSelect3 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.selectDiv3 {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

}

/* .activeAccordion {
    background-color: rgb(255, 1, 1);
}

.inactiveAccordion {
    background-color: rgb(0, 255, 76); 
} */


.modalImg {
    /* border: 2px solid red; */
    width: 60%;
    margin: auto;
    display: flex;
}

.medTitle {
    margin: auto;
    left: -2.8rem;
    padding: 1rem;
    background-color: rgba(249, 195, 0, 1);
    position: relative;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.medTitle h3 {
    font-size: 24px;
}

.Accordian1 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0rem;
    background-color: #f4f3f4;
}

.active {
    background-color: rgb(255, 255, 255);
}

.Accordian1 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
}

.Accordian2 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    background-color: #f4f3f4;
}

.active2 {
    background-color: rgb(255, 255, 255);
}

.Accordian2 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
}

.radioButton {
    margin-left: 1rem;
}

.accordionContent p {
    padding: 0rem 1rem 0rem;
}

/* Modal Css End */

@media only screen and (max-width:2560px) and (min-width:1920px) {
    .imgcotent {
        top: 24rem;
        left: 7.2rem !important;
        width: 40%;
    }

    .heroImgContent h3 {
        font-size: 130px !important;
    }

    .heroImgContent h5 {
        font-size: 70px !important;
    }

    .heroImgContent p {
        font-size: 30px !important;
        line-height: 30px;
    }

    .ancorLink button {
        font-size: 18px !important;
    }

    .Rectangle1 img {
        height: 350px;
    }

    .Rectangle2 img {
        height: 350px;
    }

    .brunoDecription h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .brunoDecription p {
        width: 50%;
        font-size: 18px;
    }

    .medContent h6 {
        font-size: 18px;
        width: 75%;
    }

    .medContent p {
        font-size: 18px;
        width: 90%;
    }

    .medcoloryellow {
        height: 14px;
        width: 50px;
    }

    .medcolorGreen {
        height: 14px;
        width: 50px;
    }

    .medcolorOrange {
        height: 14px;
        width: 50px;
    }

    .medcolorSky {
        height: 14px;
        width: 50px;
    }

    .butNowBTN {
        top: 0.3rem;
        left: -0.5rem;
        padding: 5px 9px;
    }

    .spanBtn {
        line-height: 14px;
        font-size: 16px;
        padding: 16px 0px;
    }

    .slideContent h3 {
        font-size: 60px;
        line-height: 65px;
    }

    .sliderContent h6 {
        font-size: 25px;
        line-height: 45px;
    }

    .sliderContent p {
        font-size: 16px;
        line-height: 22px;
    }

    .slider3data {
        padding: 19rem;
    }

    .sliderContent3 {
        padding: 1rem;
    }

    .sliderContent3 h3 {
        font-size: 55px !important;
        line-height: 60px;
    }

    .slideContent h5 {
        font-size: 40px;
        line-height: 48px;
    }

    .round p {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 20px;
        width: max-content;
    }

    .round2 {
        width: max-content;
    }

    .round2 p {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 20px;
    }

    .roundBtn p {
        font-size: 30px;
    }

    .bothButton2 {
        margin-top: -20rem;
        margin-right: 26.5rem;
    }
}

@media(max-width:1600px) {
    .carouselMain img {
        width: 95.5%;
    }

    .imgcotent {
        top: 18rem;
        left: 7.2rem !important;
        width: 40%;
    }

    .heroImgContent h3 {
        font-size: 100px;
    }

    .ancorLink button {
        font-size: 18px;
    }

}

@media(max-width:1440px) {
    .imgcotent {
        top: 15rem;
        left: 5.5rem !important;
        width: 40%;
    }

    .heroImgContent h3 {
        font-size: 85px;
    }

    .heroImgContent h3 {
        font-size: 50px;
    }

    .ancorLink button {
        font-size: 18px;
    }

    /* human Tab Css Start */
    .butNowBTN {
        width: 11%;
    }

    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText p {
        font-size: 13px;
    }

    /* human Tab Css Start */

    /* slider Css start */
    .slider3data {
        padding: 6.5rem;
    }

    /*Slider Css End   */
}

@media(max-width:1024px) {
    .imgcotent {

        top: 13.1rem;
        left: 7rem !important;
        width: 50%;

    }

    .heroImgContent h3 {
        font-size: 45px;
    }

    .heroImgContent h5 {
        font-size: 35px;
    }

    .heroImgContent p {
        font-size: 18px;
    }

    .ancorLink button {
        font-size: 18px;
        padding: 8px 16px;
    }

    .brunoDecription h1 {
        font-size: 45px;
    }

    .brunoDecription p {
        width: 70%;
    }

    /* tabDiv css Start */

    .medContent h6 {
        font-size: 16px;
    }

    .medContent p {
        width: 100%;
        letter-spacing: 0px;
        font-size: 14px;
    }

    .medImg {
        padding-left: 0rem;
    }

    .yellodivContent {
        margin: 10px 0px;
    }

    .medcoloryellow {
        height: 10px;
    }

    .medcolorGreen {
        height: 10px;
    }

    .medcolorOrange {
        height: 10px;
    }

    .medcolorSky {
        height: 10px;
    }

    .butNowBTN {
        width: 90%;
        top: -1.5rem;
        left: 0.7rem;
        padding: 0px 1px;
    }

    .spanBtn {
        font-size: 16px;
    }

    .HumanDetails {
        padding: 1.05rem 1rem;
        border-radius: 15px;
    }

    .SliderText {
        height: 100px;
    }

    .SliderText1 {
        height: 100px;
    }

    .SliderText2 {
        height: 100px;
    }

    .SliderText3 {
        height: 100px;
    }


    .humanTab {
        margin-top: 4rem;
    }

    .humanContent {
        margin-top: 4rem;
    }

    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText h6 {
        font-size: 16px;
    }

    .humanText p {
        font-size: 12px;
        overflow: auto;
        height: 65px;
        margin-bottom: 0rem;
    }

    .tabdiv {
        border-radius: 15px;
    }

    .tabdiv33 {
        border-radius: 15px;
    }

    /* tabDiv Css end */

    /* slide Content Css start */
    .slideContent h3 {
        font-size: 35px;
    }

    /* slide Content Css End */

    /* slider 2  Css Start */
    .slider3data {
        padding: 2rem;
    }

    .sliderContent h6 {
        font-size: 31px;
    }

    .sliderContent3 h3 {
        font-size: 31px;
    }

    .sliderContent3 h5 {
        font-size: 24px;
    }

    .forscrollbar {
        overflow: auto;
        height: 370px;
    }

    .roundeddiv {
        margin-top: 2rem;
    }

    .round p {
        font-size: 12px;
    }

    .round2 {
        width: 55%;
    }

    .round2 p {
        font-size: 12px;
    }

    .bothButton2 {
        margin-right: 1rem;
    }

    /* Slider 2 Css End */


}

@media(max-width:991px) {
    .imgcotent {
        top: 9.5rem;
        left: 6.7rem !important;
        width: 50%;
    }


    .heroImgContent h3 {
        font-size: 40px;
    }

    .heroImgContent h5 {
        font-size: 30px;
    }

    .heroImgContent p {
        font-size: 16px;
    }

    .ancorLink button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .brunoDecription h1 {
        font-size: 40px;
    }

    .brunoDecription p {
        width: 100%;
    }

    .tabdiv {
        border-radius: 15px;
    }

    .tabdiv2 {
        border-radius: 15px;
    }

    .tabdiv3 {
        border-radius: 15px;
    }

    .tabdiv4 {
        border-radius: 15px;
    }

    .tabdiv33 {
        border-radius: 15px;
    }

    .medContent h6 {
        font-size: 12px;
    }

    .medContent p {
        width: 100%;
        letter-spacing: 0px;
        font-size: 12px;
    }

    .medImg {
        padding-left: 0rem;
    }

    .yellodivContent {
        margin: 10px 0px;
    }

    .medcoloryellow {
        height: 10px;
    }

    .medcolorGreen {
        height: 10px;
    }

    .medcolorOrange {
        height: 10px;
    }

    .medcolorSky {
        height: 10px;
    }

    .butNowBTN {
        width: 90%;
        top: -1.6rem;
        left: 0.5rem;
        padding: 0px 1px;
    }

    .spanBtn {
        font-size: 16px;
    }

    .HumanDetails {
        padding: 1.05rem 1rem;
        border-radius: 15px;
    }

    .SliderText {
        height: 100px;
    }

    .SliderText1 {
        height: 85px;
    }

    .SliderText2 {
        height: 85px;

    }

    .SliderText3 {
        height: 85px;

    }

    .humanTab {
        margin-top: 4rem;
    }

    .humanContent {
        margin-top: 4rem;
    }

    .humanText {
        padding: 0rem 0rem 0rem 1rem;
    }

    .humanText h6 {
        font-size: 12px;
    }

    .humanText p {
        font-size: 10px;
        overflow: auto;
        height: 50px;
        margin-bottom: 0rem;
    }

    /* Slider CSS Start */
    .slideContent {
        padding: 1rem;
    }

    .slideContent h3 {
        font-size: 30px;
    }

    .slideContent p {
        font-size: 16px;
    }

    /* Slider CSS End */
    /* SliderContent 3 CSS START */

    .forscrollbar {
        overflow: auto;
        height: 280px;
    }

    .slider3data {
        padding: 1.5rem;
    }

    .sliderContent3 h3 {
        font-size: 24px;

    }

    .sliderContent3 h5 {
        font-size: 24px;

    }

    .roundeddiv {
        margin-top: 1rem;
    }

    .round p {
        font-size: 10px;
    }

    .round2 {
        width: 51%;
    }

    .round2 p {
        font-size: 10px;
    }

    .blackHr2 {
        margin-top: 1rem;
    }

    .roundBtn {
        margin-top: 1rem;
    }

    .roundBtn p {
        font-size: 16px;
    }

    .bothButton2 {
        margin-top: -4.6875rem;
        margin-right: 1.5rem;
    }

    /* SliderContent 3 CSS ENd */

}

.carouselMain {
    background: #ffffff !important;

}