.container{
    padding: 0 25px;
    width: 100%;
}

.PhytoMain{
    display: flex;
    gap: 30px;
    align-items: start;
    margin-bottom: 50px;
    flex-direction: row-reverse;

}

.PhytoPara{
    font-size: 12px;
    font-family:"Gotham", "Arial", serif ;
    font-weight: 400;
    line-height: 20px;
}

.PhytoImg{
    width: 100%;
    position: relative;
    width: 145px;
    height: 145px;
}

.PhytoTopB{
    margin-top: 20px;
}

.PhytoImg img{
    border-radius: 20px;
    /* width: 100%; */
    width: 145px;
    height: 145px;
}

.PhytoClass{
visibility: visible;    
}

.PhytoPara11 {
    height: 300px;
    overflow: auto;
    padding: 16px 0;
}
.PhytoImg h4{
    position: absolute;
    bottom: 25px;
    
    left: 0;
    right: 0;
    text-align: center;
}

.PhytoImg h4 a{
    color: #fff;
    font-size: 12px;
    font-family:"Gotham", "Arial", serif ;
    font-weight: 600;
    background-color: #AB19C2;
    padding: 6px;
}


/* top */


.imageDiv{
    display: flex;
    gap: 15px;
    justify-content: center;
    border-radius: 12px;
}


.videoContent{
    position: absolute;
    top: 0;
    width: 100%;
}

.PhytoVideoTag{
    width: 100%;
    
}


.TopBruno{
    position: relative;
 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
text-align: center;
font-family: Gotham", "Arial", serif";
margin-bottom: 40px;

    
    color: #fff;
}

.backgroundShadow{
    padding: 25px 0px ;
    margin: 0 0 20px 0;
    background-color: #00000073;
}

.destopNone{
    display: none;
}

.TopBruno h1{
    font-size: 30px;
    font-weight: 400;

}



.TopBruno p{
    font-size: 16px;
    font-weight: 400;

}

.TopBruno p{
    font-size: 16px;
    font-weight:400;

}.TopBruno h5{
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}
.imageMain img{
    max-width: 100%;
    width: 93px;
    height: 93px;
    border-radius: 12px;
    border: 2px solid #ddd;
    
}

.PhytoMain1{
    width: 90% !important;

    margin: auto;
    gap: 30px;
    display: grid !important;
}
.PhytoImages1 img{
    width: 80%;
    margin: auto;
    border: 1px solid #AF0000;
    border-radius: 35px;
}

.PhytoPara11 p{
    width: 90%;
    margin: auto;
    font-size: 12px;
    font-weight: 500;
    font-family: Gotham", "Arial", serif";
    line-height: 22px;

}

@media(max-width:540px){

    .TopBruno h5 {
        margin: 10px 0 15px 0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .PhytoImg{
    width: 100%;
    position: relative;
    width: 100px;
    height: 100px;
}

.PhytoImg img{
    width: 100%;
    position: relative;
    width: 100px;
    height: 100px;
}

.PhytoImg h4 a {
    
    font-size: 10px;
padding: 5px;
}

.PhytoMain {
     gap: 15px;
 }
 .PhytoImg h4 {
 bottom: 10px;
    }
  
    .backgroundShadow {
        padding: 10px 0px;
        margin: 0 0 10px 0;
        background-color: #00000073;
        font-family: "ivypresto-display", "Times New Roman", Times, serif;
    }

    .imageMain img{
        max-width: 100%;
        width: 70px;
        height: 70px;
        border-radius: 12px;
        border: 2px solid #ddd;
}

.TopBruno h1 {
    font-size: 18px;
    font-weight: 400;
}

.TopBruno p {
    font-size: 12px;
    
}

.TopBruno h5 {
      font-size: 14px;
   }
}

@media(max-width:415px){
    .TopBruno{
    margin-bottom: 50px;    
    
    }

}

@media(max-width:374px){

    .PhytoImg{
        margin: auto;
    }

    .PhytoMain{
        display: grid;
    }
}
.BgBlack {
  background-color: #000;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 15px 0px;
}
.BgBlack h1 {
  font-size: 30px;
  font-family: "ivypresto-display", "Times New Roman", Times, serif;
  font-weight: 400;
}
