.height100vh {
  /* height: 100vh;
    background-color: gray;    
    background-image: url("/images/Nature-meet-pharma.png");
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    width: 100%;

}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  width: 100%;
}
.hiddenParagraph .container{   
  background-image: url("/images/DNA-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0% bottom 35%;
}
.RowFlex {
  display: flex;
  text-align: start;
  align-items: center;
  height: 100vh;
}
.W70 {
  width: 70%;
}
.W80 {
  width: 65%;
}
.hiddenParagraph p{
  padding-bottom: 15px;
  line-height: 24px;

}
.hiddenParagraph h3{
  padding-bottom: 20px;

}

.RowFlex h1 {
  color: #000;
  text-transform: uppercase;
  font-size: 165px;
  font-weight: 400;
  font-family: var(--bmd-font-Secondary);

  line-height: normal;
  -webkit-text-stroke-color: #282d03;
  font-size: 120px;
  text-transform: uppercase;
  background: linear-gradient(92deg, #e3f31d -0.24%, #bed113 87.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-style: normal;
  font-weight: 800;
  -webkit-text-stroke: 1px rgb(0 0 0);
}
.RowFlex h2 {
  color: #ffffff;
  font-size: 69px;
  font-weight: 600;
  font-family: var(--bmd-font-Secondary);
  letter-spacing: 0px;
  line-height: normal;
  text-shadow: 0px 4px 4px #343434;
}
.RowFlex h3 {
  color: #fff;

  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  font-family: var(--bmd-font-Secondary);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 205.882% */
}
.W80 p {
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;
  margin: 20px 0px;
  color: #fff;
  line-height: 24px;
  margin-top: 5px;
}
.W80 p{
  line-height: 30px !important;
}
.ReadMoreBtn {
  background-color: #000;
  color: #fff;
  font-family: var(--bmd-font-Secondary);
  font-size: 18px;
  font-weight: 400;
  padding: 15px 22px;
  margin: 15px 0px;
}

.ReadMoreBtnWhite {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 22px;
  margin: 15px 0px;
  font-family: var(--bmd-font-Secondary);
  cursor: pointer;
 
  
}


.hiddenParagraph{
  position: fixed;
  background-color: #ffffffb5;
  padding: 20px 15px;
  width: 100%;  
  bottom: 0%;
  left: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);  
  overflow-y: hidden;
  height: 100%;
  left: 0;
  right: 0;    
  margin:auto;
  z-index: 11;
  backdrop-filter: blur(10px);
  
}
.hiddenParagraph h3{
  color: #000;
  font-size: 52px;
  font-family: var(--bmd-font-Secondary);
  padding: 0 10px;
  
}
.hiddenParagraph p{
  color: #000;
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;  
  padding-bottom: 15px;
  line-height: 24px;
  padding: 0 15px 10px 15px;
}

.hiddenParagraph span{
          background-color: #fff;
          width: 30px;
  font-family: var(--bmd-font-Secondary);
font-weight: 900;
          height: 30px;
          border-radius: 100%;
          border: 2px solid #000;
      font-size: 17px;
      color: #000;
      position: absolute;
      top: 1%;
      right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  /* Fade up css */
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
@keyframes flipInX {
  0% {
      transform: perspective(800px) rotateX(-90deg);
      animation-timing-function: ease-in;
      opacity: 0
  }

  40% {
      transform: perspective(800px) rotateX(-0deg);
      animation-timing-function: ease-in
  }

  60% {
      transform: perspective(800px) rotateX(-0deg);
      opacity: 1
  }

  80% {
      transform: perspective(800px) rotateX(-0deg)
  }

  to {
      transform: perspective(800px)
  }
}

.flipInX {
  backface-visibility: visible!important;
  animation-name: flipInX
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fade up end */


.containerModal {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  transform: translate(0%, 10%);
  background-color: #FBFBFB;
  padding: 30px 30px;
}

.HeadingItalianSoli h3, .HeadingItalianSoli h4{
  font-size: 60px;
  font-family: var(--bmd-font-Secondary);
  color: #167E17;
  padding: 0 10px;
}

.HeadingItalianSoli h3{  
  font-weight: 100;
}
.HeadingItalianSoli h4{ 
  font-weight: 800;
}

.InneerDiscription {
  width: 37.8%;
  margin-bottom: 50px;
  margin-top: 20px;
}
@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      transform: translate3d(-3000px,0,0)
  }

  60% {
      opacity: 1;
      transform: translate3d(25px,0,0)
  }

  75% {
      transform: translate3d(-10px,0,0)
  }

  90% {
      transform: translate3d(5px,0,0)
  }

  to {
      transform: translateZ(0)
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
  animation-delay: 1s;  
}

.PlantAnimationRight{ 
  height: 100%;
  width: 60%;
  position: absolute;
  right: 0;
  border-radius: 562px 0px 0px 315px;
  top: 0;
  z-index: 0;
  background-image: linear-gradient(#132022, #000);
  display: flex;
  justify-content: center;
  
}
.Margin6{
  margin: 6% 0;
}

@media (max-width: 1599.98px) {
  .containerModal {
   
    transform: translate(0%, 5%);
   
  }

  .Margin6{
    margin: 2% 0;
  }
  .HeadingItalianSoli h3, .HeadingItalianSoli h4 {
    font-size: 50px;
   
}
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
  }
  .RowFlex h1 {
    font-size: 80px;
  }
  .RowFlex h2 {
    font-size: 50px;
    bottom: 15px;
    line-height: 60px;
  }
  .RowFlex h3 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
  }
  .W80 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .InneerDiscription{
    height: 350px;
    overflow: auto;
  }
}
@media (max-width: 1100px) {

  .HeadingItalianSoli h3, .HeadingItalianSoli h4 {
    font-size: 30px;
}
  .container {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .Margin6 {   
    z-index: 1;
    position: relative;
}


  .PlantAnimationRight {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    border-radius: 0;
    top: 100%;
    z-index: 0;
    background-image: linear-gradient(#132022, #000);
    display: flex;
    justify-content: center;
}

  .InneerDiscription {
    height: 100px;
    width: 100%;    
}
  .container {
    max-width: 90%;
  }
  .W70 {
    padding: 10px;
    width: 100%;
    background-color: #b7c18469;
    border-radius: 10px;
  }
  .W80 p {
    display: block;
  }
}
@media (max-width: 575px) {

  .InneerDiscription {
    
    margin-bottom: 20px;
   
}
  .container {
    max-width: 90%;
  }
  .W80 {
    width: 100%;
  }
  .RowFlex h2 {
    font-size: 40px;
    bottom: 5px;
    line-height: 45px;
  }

  .RowFlex h1 {
    font-size: 50px;
    letter-spacing: normal;
    line-height: 65px;
  }
  .RowFlex h3 {
    font-size: 20px;
  }
  .hiddenParagraph h3 {
    color: #000;
    font-size: 30px;
   
}
}
@media (max-width: 475px) {  
  .container {
    max-width: 90%;
  }
}

  